footer.footer.container
    //- desktop
    .footer__wrapper.footer__wrapper--desktop
        ul
            li.title Магазин
            li
                a(href="") Кофе и чай
            li
                a(href="") Десерты
            li
                a(href="") Доставка и оплата
        ul
            li.title Партнерам
            li
                a(href="") Арендодателям
            li
                a(href="") Дилерам
            li
                a(href="") Кофейням
        ul
            li
                a(href="") Кофейни
            li
                a(href="") Наша жизнь
            li
                a(href="") Производство
        ul.footer__contacts
            h3(hidden) Обратная связь
            li
                p 305014,  г. Курск, ул.Карла Маркса,  д. 73г
            li
                a(href="tel:+74712745046") +7 (4712) 745-046
            li
                a(href="mailto:donutbar@mail.ru") donutbar@mail.ru
            li.social
                a(href="").vk
                    img(src="images/svg/vk-icn.svg" alt="")
                a(href="").inst
                    img(src="images/svg/inst-icn.svg" alt="")
                a(href="").youtube
                    img(src="images/svg/youtube-icn.svg" alt="")

    //- laptop
    .footer__wrapper.footer__wrapper--laptop
        ul.footer__feedback
            li.title Обратная связь
            li
                p Оставить отзыв о продукции или компании

        ul.footer__contacts
            li.title(hidden) Обратная связь
            li
                p 305014,  г. Курск, ул.Карла Маркса,  д. 73г
            li
                a(href="tel:+74712745046") +7 (4712) 745-046
            li
                a(href="mailto:donutbar@mail.ru") donutbar@mail.ru
        .social
            a(href="").vk
                img(src="images/svg/vk-icn.svg" alt="")
            a(href="").inst
                img(src="images/svg/inst-icn.svg" alt="")
            a(href="").youtube
                img(src="images/svg/youtube-icn.svg" alt="")

    //- mobile
    .footer__wrapper.footer__wrapper--mobile
        ul
            li.title Обратная связь
            li
                p 305014,  г. Курск, ул.Карла Маркса,  д. 73г
            li
                a(href="tel:+74712745046") +7 (4712) 745-046
            li
                a(href="mailto:donutbar@mail.ru") donutbar@mail.ru
        .social
            a(href="").vk
                img(src="images/svg/vk-icn.svg" alt="")
            a(href="").inst
                img(src="images/svg/inst-icn.svg" alt="")
            a(href="").youtube
                img(src="images/svg/youtube-icn.svg" alt="")

    .footer__copyright
        p Copyright  DONUT BREW BAR 2020