header.header
    .container
        .header__wrapper
            a(href="index.html").logo.header__logo
                picture
                    source(srcset="images/logo-mobile.svg" media="(max-width: 1023px)")
                    img(srcset="images/logo.svg" alt="")
            nav.header__nav
                a(href="main-catalog.html") Магазин
                a(href="partners.html") Партнерам
                a(href="") Кофейни
                a(href="articles.html") Наша жизнь
                a(href="") Производство
                a.basket(href="basket.html")
                    span Корзина
            .burger(hidden)

    include mobile-menu.pug