.mobile-menu
    ul.mobile-menu__list
        li
            a(href="main-catalog.html") Магазин
        li
            a(href="partners.html") Партнерам
        li
            a(href="") Кофейни
        li
            a(href="articles.html") Наша жизнь
        li
            a(href="") Производство