.cart {
    .page__head {
        h2 {
            font-size: 40px;
            font-weight: 500;
            text-transform: uppercase;
            @media (max-width: 1919px) {
                font-size: 35px;
            }
            @media (max-width: 1023px) {
                font-size: 31px;
            }
            @media (max-width: 767px) {
                font-size: 22px;
            }
        }
    }
}

.cart__body {
    margin-bottom: 90px;
    .cart__list.laptop {
        display: none;
        margin-bottom: 56px;
        li {
            margin-bottom: 23px;
            font-size: 17px;
            font-weight: 300;
            b {
                font-weight: 400;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &.title {
                font-size: 21px;
                font-weight: 500;
                text-transform: uppercase;
            }
            @media (max-width: 1919px) {
                margin-bottom: 25px;
                line-height: 1.4;
            }
            @media(max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 1919px) {
            display: block;
            margin-bottom: 40px;
        }
    }
}

.cart__inner {
    display: flex;
    padding-top: 50px;
    margin-bottom: 40px;
    picture {
        flex: 1 0 auto;
        max-width: 670px;
        width: 100%;
        margin-right: 55px;
        @media (max-width: 1919px) {
            max-width: 437px;
            margin-right: 29px;
        }
        @media (max-width: 1023px) {
            margin-right: 0;
            max-width: 100%;
            margin-bottom: 27px;
        }
    }
    @media (max-width: 1919px) {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    @media (max-width: 1023px) {
        flex-direction: column;
    }
    @media (max-width: 767px) {
        padding-top: 30px;
    }
}

.cart__description {
    padding-top: 43px;
    flex: auto;
    @media (max-width: 1919px) {
        padding-top: 58px;
    }
    @media (max-width: 1023px) {
        padding-top: 0;
    }
}

.cart__wrap {
    padding-bottom: 25px;
    border-bottom: 1px solid #8c8c8c;
    margin-bottom: 20px;
    h1 {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 28px;
        @media (max-width: 1919px) {
            font-size: 26px;
            margin-bottom: 43px;
        }
        @media (max-width: 1023px) {
            margin-bottom: 22px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    ul.cart__list {
        margin-bottom: 56px;
        li {
            margin-bottom: 23px;
            font-size: 18px;
            font-weight: 300;
            b {
                font-weight: 400;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &.desktop {
            @media (max-width: 1919px) {
                display: none;
            }
        }
    }
    .weight {
        display: flex;
        margin-bottom: 26px;
        .btn {
            border: 1px solid #a6a6a6;
            line-height: 44px;
            padding: 0 20px;
            margin-right: 20px;
            font-size: 18px;
            font-weight: 300;
            &.active {
                background-color: #f6e3e7;
                color: $color-text;
                border-color: transparent;
            }
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 1919px) {
                font-size: 17px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        @media (max-width: 767px) {
            margin-bottom: 14px;
        }
    }
    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .select {
            position: relative;
            align-self: flex-start;
            max-width: 434px;
            width: 100%;
            &::before {
                content: "";
                position: absolute;
                background-image: url("../images/svg/check-select.svg");
                width: 14px;
                height: 7px;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }
        }
        select {
            align-self: flex-start;
            width: 100%;
            border: 1px solid #a6a6a6;
            line-height: 44px;
            height: 44px;
            padding-left: 20px;
            font-size: 18px;
            font-weight: 300;
            appearance: none;
            background-color: transparent;

            @media (max-width: 1919px) {
                font-size: 17px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        label {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
            @media (max-width: 767px) {
                font-size: 17px;
            }
        }
        @media (max-width: 1023px) {
            margin-bottom: 25px;
        }
        @media (max-width: 767px) {
            margin-bottom: 19px;
        }
    }
    .amount {
        display: flex;
        align-items: center;
        span {
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            max-width: 13px;
            width: 100%;
        }
        input {
            max-width: 46px;
            width: 100%;
            border: 1px solid #a6a6a6;
            line-height: 44px;
            margin: 0 15px;
            text-align: center;
            @media (max-width: 1919px) {
                font-size: 17px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 40px;
            }
        }
    }
    @media (max-width: 1919px) {
        margin-bottom: 13px;
    }
    @media (max-width: 1023px) {
        margin-bottom: 18px;
    }
    @media (max-width: 767px) {
        padding-bottom: 21px;
    }
}

.cart__price {
    margin-bottom: 40px;
    span {
        font-size: 24px;
        font-weight: 500;
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 29px;
    }
}

button.add-basket {
    background-color: #f6e3e7;
    font-size: 18px;
    font-weight: 300;
    color: $color-text;
    border: none;
    line-height: 44px;
    padding: 0 25px;
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 40px;
    }
}

.cart__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    @media (max-width: 1919px) {
        font-size: 17px;
    }
}

.cart__other {
    margin-bottom: 90px;
    h2 {
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 40px;
        @media (max-width: 1919px) {
            font-size: 26px;
            margin-bottom: 33px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
            max-width: 200px;
            line-height: 1.5;
        }
    }
    @media (max-width: 1919px) {
        margin-bottom: 98px;
    }
    @media (max-width: 767px) {
        margin-bottom: 70px;
    }
}

ul.cart__slick {
    padding: 0 50px;

    li.item {
        padding: 0 37px;
        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: $color-text;
            picture {
                margin-bottom: 30px;
                @media (max-width: 1919px) {
                    margin-bottom: 21px;
                }
            }
            span.name {
                font-size: 19px;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 15px;
                @media (max-width: 1919px) {
                    font-size: 17px;
                    margin-bottom: 5px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                    margin-bottom: 20px;
                }
            }
            span.price {
                font-size: 21px;
                font-weight: 400;
                @media (max-width: 1919px) {
                    font-size: 19px;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
        @media (max-width: 1919px) {
            padding: 0 11px;
        }
        @media (max-width: 1023px) {
            padding: 0 19px;
        }
        @media (max-width: 767px) {
            padding: 0 10px;
        }
    }
    @media (max-width: 1919px) {
        padding: 0 35px;
    }
    @media (max-width: 1023px) {
        padding: 0 38px;
    }
    @media (max-width: 767px) {
        padding: 0 59px;
    }
}
