.header {
    position: relative;
    padding-top: 37px;
    padding-bottom: 37px;
    @media (max-width: 1919px) {
        padding-top: 24px;
        padding-bottom: 17px;
    }
    @media (max-width: 1023px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.header__wrapper {
    display: flex;
    .burger {
        background-image: url("../images/svg/burger.svg");
        width: 25px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        &.active {
            background-image: url("../images/svg/cross.svg");
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
        }
        @media (max-width: 1023px) {
            display: block;
            flex: 1 0 auto;
            max-width: 25px;
            order: 2;
        }
    }
    @media (max-width: 1023px) {
        align-items: center;
        justify-content: space-between;
    }
}

.header__logo {
    flex: 1 0 auto;
    max-width: 151px;
    width: 100%;
    margin-right: 100px;
    @media (max-width: 1919px) {
        max-width: 130px;
        margin-right: 55px;
    }
    @media (max-width: 1023px) {
        margin-right: 0;
        order: 1;
        max-width: 101px;
    }
    @media (max-width: 767px) {
        max-width: 100px;
    }
}

.header__nav {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        margin-right: 116px;
        color: #737373;
        &:last-child {
            margin-right: 0;
        }
        &.basket {
            margin-left: auto;
            padding-left: 30px;
            position: relative;
            color: #404040;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-image: url("../images/svg/basket.svg");
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                @media (max-width: 1919px) {
                    width: 18px;
                    height: 18px;
                }
                @media (max-width: 767px) {
                    width: 22px;
                    height: 22px;
                }
            }
            span {
                @media (max-width: 1919px) {
                    font-size: 0;
                }
            }
            @media (max-width: 1023px) {
                order: 0;
                margin-left: 0;
            }
        }

        @media (max-width: 1919px) {
            margin-right: 50px;
            font-size: 14px;
        }
        @media (max-width: 1023px) {
            &:not(.basket) {
                display: none;
            }
        }
    }
    @media (max-width: 1023px) {
        max-width: 22px;
    }
}
