doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .main-content
            include modules/header.pug

            main
                .page
                    .article
                        .container
                            .page__head
                                h1 Наша жизнь
                                a.btn(href="articles.html")
                                    span Все статьи
                                    img(src="images/svg/arrow-next.svg" alt="")


                        .container.container--mode
                            .article__wrapper
                                h3.article__name Раздел будет тут написан
                                p.article__date 21.03.2020
                                h2.article__title Название статьи будет тут
                                picture.article__banner

                                p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.
                                p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске Сеть профессиональных кофе баров
                                p.article__strong-block "Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас Курске."
                                h2.subtitle Подзаголовок 1
                                p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.
                                p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске Сеть профессиональных кофе баров
                                .article__pictures
                                    picture
                                        img(src="images/item.jpg" alt="")
                                    picture
                                        img(src="images/item.jpg" alt="")
                                p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свежеобжаренного кофе и пончиков собственного производства в Курске.Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки:
                                .article__lists    
                                    ol.list.list--number
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар
                                    ul.list.list--dash
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар
                                    ul.list.list--dotted
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар 
                                        li Сеть профессиональных кофе баров Дона Бар

                                h2.title Возможно, вас заинтересует
                                ul.article__slide
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        p.date 21.03.2020
                                        h3.title Название статьи будет тут
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        p.date 21.03.2020
                                        h3.title Название статьи будет тут
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        p.date 21.03.2020
                                        h3.title Название статьи будет тут
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        p.date 21.03.2020
                                        h3.title Название статьи будет тут
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        p.date 21.03.2020
                                        h3.title Название статьи будет тут








        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug