doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .main-content
            include modules/header.pug

            main
                .page
                    .articles
                        .container
                            .page__head
                                h1 Наша жизнь

                        .container.container--mode
                            .articles__wrapper
                                ul.articles__list
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        .col
                                            h3.title Раздел
                                            p.date 21.03.2020
                                            p.name Название статьи
                                            p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свеже обжаренного кофе и пончиков собственного производства в Курске. Сеть профессиональных кофе баров Дона Бар открыла для.
                                            a(href="").text-more Читать далее
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        .col
                                            h3.title Раздел
                                            p.date 21.03.2020
                                            p.name Название статьи
                                            p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свеже обжаренного кофе и пончиков собственного производства в Курске. Сеть профессиональных кофе баров Дона Бар открыла для.
                                            a(href="").text-more Читать далее
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        .col
                                            h3.title Раздел
                                            p.date 21.03.2020
                                            p.name Название статьи
                                            p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свеже обжаренного кофе и пончиков собственного производства в Курске. Сеть профессиональных кофе баров Дона Бар открыла для.
                                            a(href="").text-more Читать далее
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        .col
                                            h3.title Раздел
                                            p.date 21.03.2020
                                            p.name Название статьи
                                            p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свеже обжаренного кофе и пончиков собственного производства в Курске. Сеть профессиональных кофе баров Дона Бар открыла для.
                                            a(href="").text-more Читать далее
                                    li.item
                                        picture
                                            img(src="images/item.jpg" alt="")
                                        .col
                                            h3.title Раздел
                                            p.date 21.03.2020
                                            p.name Название статьи
                                            p.text Сеть профессиональных кофе баров Дона Бар открыла для Вас направление доставки свеже обжаренного кофе и пончиков собственного производства в Курске. Сеть профессиональных кофе баров Дона Бар открыла для.
                                            a(href="").text-more Читать далее






        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug