doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .main-content
            include modules/header.pug

            main
                .page

                    .main-catalog

                        .container
                            .page__head
                                h1 Магазин
                        .container.container--mode
                            .main-catalog__wrapper
                                .tabs
                                    .button.tablinks#defaultOpen(onclick="openTab(event, 'tab-1')")
                                        button Кофе и чай
                                    .button.tablinks(onclick="openTab(event, 'tab-2')")
                                        button Десерты
                                    .button.tablinks(onclick="openTab(event, 'tab-3')")
                                        button Доставка и оплата
                                .tabs-content
                                    .content.content--1#tab-1
                                        ul
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                    .content.content--1#tab-2
                                        ul
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                    .content.content--1#tab-3
                                        ul
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.

                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.
                                            li.item
                                                picture
                                                    img(src="images/cart/item1.jpg" alt="")
                                                span.name Бразилия можиана
                                                .weight
                                                    .btn.active
                                                        span 1 кг.
                                                    .btn
                                                        span 250 г.
                                                p Плотный кофе с высокой кислотностью. Во вкусе сухофрукты, темный виноград,малина.
                                                span.price 1 300 руб.






        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug