$color-black: #000000;
$color-white: #ffffff;
$color-text: #404040;
$color-brown: #FDD6D6;

$font-base: "Rubik", sans-serif;
$font-rubik: "Montserrat", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
